nav{
    position:sticky;
    top:0;
    left:0;
    overflow:hidden;
    @include MQ(620px){
        position:static;
    }
    
    ul li a{
    display:block;
    float:left;
    width:25%;
    text-align:center;
    padding:2rem;
    font-size:$font-size*1.5;
    background-color:cornflowerblue;
    color:$white;
    border-bottom: 2px solid transparent;
    @include transition(all 1s ease 0s);
        @include MQ(620px){
            width:100%;
            clear:both;
            text-align: center;
            border:2px solid $white;
            transition:none;
            &:hover{
                background-color:#fff;
                color:cornflowerblue;
            }
        }
        &:hover{
            border-bottom: 2px solid #0d2248;
            @include MQ(620px){
                 border-bottom:2px solid $white;
                
            }
        }
    }
}

